*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

#boards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.board-name{
    position: relative;
    top: 10px;
    font-size: 14px;
    color: gray;
}

#board,#computer-board {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.disableBoard1{
    opacity: 0.5;
    pointer-events: none;
}

.dim{
    opacity: 0.5;
    pointer-events: none;
}

#board > div {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0px 4px 4px #C4C4C4);
    border: 1px solid rgb(185, 192, 216);
}

#computer-board > div {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0px 4px 4px #C4C4C4);
    border: 1px solid rgb(185, 192, 216);
}

#computer-board > div:hover{
     filter: none;
     border: 3px dashed rgb(255, 96, 96);
     background-color: rgb(255, 175, 175);
     cursor: pointer;
}

.divShipStyle {
    background-color: rgba(68, 111, 252, 0.363);
}

.divStyle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.missedStyle{
    font-size: 20px;
    color: rgb(102, 102, 102);
}

.hitStyle{
    background-color: rgb(255, 120, 120);
}

#buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
}

#randomize, #start{
    font-size: 14px;
}

#randomize{
    width: 115px;
    height: 30px;
    border-radius: 8px;
    border: none;
}

#randomize:hover{
    border: 2px dashed gray;
    cursor: pointer;
}

#start{
    width: 90px;
    height: 30px;
    border-radius: 8px;
    border: none;
}

#start:hover{
    border: 2px dashed gray;
    cursor: pointer;
}

/* #restart{
    width: 60px;
    height: 30px;
    border-radius: 8px;
    border: none;
}

#restart:hover{
    border: 2px dashed gray;
    cursor: pointer;
} */

.disableBoard{
    pointer-events: none;
}